.latestDetails {
    height: 200px;
    overflow: auto;
}

.latestChart {
    max-height: calc(100% - 200px);
    overflow-y: auto;
    max-width: 800px;
}

.customChartBtn {
    position: absolute;
    left: 800px;
    top: 400px;
}