.form-full-width {
    width: 100%;
}

.form-half-width {
    width: 50%;
}

.sidenav {
    max-width: 400px;
}

.graphManagerHeader {
    height: 90px;
    text-align: center;
}

.example-container {
    height: 100%;
}

.displayArea {
    width: 100%;
    position: absolute;
    top: -2px;
    left: 0px;
    /* margin: 10px; */
}

.graphButtons {
    position: absolute;
    right: 0px;
    z-index: 2;
}

.graphDeleteBtn {
    position: absolute;
    right: 0px;
    z-index: 2;
}

.graphBtn {
    float: right;
}

.chartArea {
    position: relative;
    top: 5px;
}

.newGraphButton {
    /* float: left; */
    position: absolute;
    left: 10px;
    top: 10px;
}

.gridListHolder {
    height: calc(100% - 90px);
    overflow-y: auto;
}

.example-sidenav-content {
    height: 100%;
}

.emptyList {
    width: 100%;
    /* height: 100%; */
    text-align: center;
    padding-top: calc(50% - 70px);
}

.fieldsSelectionList {
    height: 300px;
    overflow-y: auto;
}

.colorPicker {
    position: absolute;
    right: 10px;
    max-width: 25%;
}

.fieldName {
    width: calc(75% - 10px);
}

.colorHolder {
    height: 20px!important;
    margin-top: 10px;
    margin-bottom: 10px;
}

.closeButtonLine {
    height: 38px;
}

.closeDrawerBtn {
    float: right;
}

.deleteFormBtn {
    float: right;
}

.graphFinishedBtn {
    margin-left: 20px;
    margin-top: 20px;
    width: 200px;
}

#singleColumnWidthSlider{
    /* position: absolute;
    left: calc(50% + 100px); */
}

.countryPicker {
    /* color: #000!important; */
}