.form-full-width {
    width: 100%;
}

.form-half-width {
    width: 50%;
}

.sidenav {
    max-width: 500px;
}

.graphManagerHeader {
    height: 90px;
    text-align: center;
}

.example-container {
    height: 100%;
}

.displayArea {
    width: 100%;
    position: absolute;
    top: -2px;
    left: 0px;
}

.graphButtons {
    position: absolute;
    right: 0px;
    z-index: 2;
}

.graphDeleteBtn {
    position: absolute;
    right: 0px;
    z-index: 2;
}

.graphBtn {
    float: right;
}

.chartArea {
    position: relative;
    top: 5px;
}

.newGraphButton {
    position: absolute;
    left: 10px;
    top: 10px;
}

.gridListHolder {
    height: calc(100% - 90px);
    overflow-y: auto;
}

.example-sidenav-content {
    height: 100%;
}

.emptyList {
    width: 100%;
    text-align: center;
    padding-top: calc(50% - 70px);
}

.fieldsSelectionList {
    height: 300px;
    overflow-y: auto;
}

.fieldsSelectionList_2 {
    height: 300px;
    width: 200px;
    overflow-y: auto;
}


.fieldName {
    width: calc(75% - 10px);
}

.colorHolder {
    height: 20px!important;
    margin-top: 10px;
    margin-bottom: 10px;
}

.closeButtonLine {
    height: 38px;
}

.closeDrawerBtn {
    float: right;
}

.deleteFormBtn {
    float: right;
}

.countryPicker {
    width: 90px;
    padding-left: 5px;
}

.countryPickerInList {
    width: 90px;
    padding-left: 5px;
}

.colorPicker {
    width: 70px;
    padding-left: 5px;
}

.fieldNamePicker {
    width: 240px;
}

.fieldNamePickerInList {
    width: 220px;
}

.colorPickerInList {
    width: 60px;
    padding-left: 5px;
}

#fieldListDiv {
    padding-top: 10px;
    max-height: calc(100vh - 390px);
    overflow-y: auto;
}

#fieldListDiv mat-form-field {
    font-size: 12px!important;
}

.addDetailsBtn {
    position: relative;
    bottom: 5px;
    margin-left: 5px;
    min-width: unset;
    padding: 0px 5px 0px 5px;
}

.deleteDetailBtn {
    position: relative;
    bottom: 10px;
    margin-left: 5px;
    min-width: unset;
    padding: 0px 5px 0px 5px;
}

.dataListItem {
    min-height: 64px;
}

#deleteBtnArea {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 150px;
    height: 50px;
    z-index: 2;
}