<mat-drawer-container class="example-container" autosize>

  <mat-drawer #drawer class="sidenav" mode="side">
    
    <div class="closeButtonLine">
      <button type="button"
              class="graphFinishedBtn"
              (click)="onGoClick()"
              color="primary"
              [disabled]="isFormInValid"
              mat-raised-button
              matTooltip="Grafikon létrehozása">
        <mat-icon>playlist_add</mat-icon>
      </button>

      <button type="button"
              class="deleteFormBtn"
              mat-raised-button
              (click)="onDeleteForm()"
              matTooltip="Mezők törlése">
        <mat-icon>delete</mat-icon>
      </button>
      <button type="button"
            class="closeDrawerBtn"
            mat-raised-button
            (click)="drawer.close()"
            matTooltip="Bezárás">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
    
    </div>

    <mat-accordion>

      <mat-expansion-panel #dateSelection>

        <mat-expansion-panel-header>

          <mat-panel-title>
            Időintervallum
          </mat-panel-title>
          <mat-panel-description>
            <ng-container>
              {{fromDate ? (fromDate | date: 'yyyy-MM-dd') : 'kezdetektől'}} -> {{toDate ? (toDate | date: 'yyyy-MM-dd') : 'mai napig'}}
            </ng-container>
          </mat-panel-description>

        </mat-expansion-panel-header>


        <mat-form-field class="form-half-width" appearance="outline">
          <mat-label>Kezdődátum</mat-label>
          <input matInput [matDatepicker]="fromPicker" (dateChange)="onDateChange($event, 'from')" [value]="fromDate">
          <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
          <mat-datepicker #fromPicker></mat-datepicker>
        </mat-form-field>
    
        <mat-form-field class="form-half-width" appearance="outline">
          <mat-label>Végdátum</mat-label>
          <input matInput [matDatepicker]="toPicker" (dateChange)="onDateChange($event, 'to')" [value]="toDate">
          <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
          <mat-datepicker #toPicker></mat-datepicker>
        </mat-form-field>

      </mat-expansion-panel>

      <mat-expansion-panel #detailsSelectionPanel>

        <mat-expansion-panel-header>
          <mat-panel-title>Adatok</mat-panel-title>
          <mat-panel-description>
            <ng-container *ngIf="queryFields.length">
              Kiválasztva: {{queryFields.length}}
            </ng-container>
            <ng-container *ngIf="queryFields.length === 0">
              Válasszon ki legalább egy adatot!
            </ng-container>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div>

          <mat-form-field appearance="outline" class="fieldNamePicker">
            <mat-select [(value)]="selectedFieldName">
        
              <mat-option *ngFor="let field of fieldNames"
                          [value]="field">{{fields[field]}}</mat-option>
  
            </mat-select>
          </mat-form-field>
  
          <mat-form-field appearance="outline" class="countryPicker">
            <mat-select [(value)]="selectedCountry">
        
              <mat-option *ngFor="let country of countries"
                          [value]="country">{{country}}</mat-option>
  
            </mat-select>
          </mat-form-field>
  
          <mat-form-field appearance="outline" class="colorPicker">
  
            <mat-select [(value)]="selectedColor"
                        [style.backgroundColor]="selectedColor"
                        [style.color]="selectedColor">
    
            <mat-option *ngFor="let color of colors"
                      class="colorHolder"
                      [value]="color"
                      [style.backgroundColor]="color"
                      [style.color]="color">
            </mat-option>
    
            </mat-select>
  
          </mat-form-field>
          <button type="button"
                  class="addDetailsBtn"
                  (click)="onAddDetailsClick()"
                  mat-raised-button
                  matTooltip="Adat hozzáadása a grafikonhoz">
                  <mat-icon>playlist_add</mat-icon>
          </button>  
  
          <div id="fieldListDiv">
  
            <mat-list>
              <mat-list-item *ngFor="let queryField of queryFields; let i = index;" class="dataListItem">
                
                <mat-form-field appearance="outline" class="fieldNamePickerInList">
                  <mat-select [(value)]="queryField.field">
              
                    <mat-option *ngFor="let field of fieldNames"
                                [value]="field">{{fields[field]}}</mat-option>
        
                  </mat-select>
                </mat-form-field>
        
                <mat-form-field appearance="outline" class="countryPickerInList">
                  <mat-select [(value)]="queryField.country">
              
                    <mat-option *ngFor="let country of countries"
                                [value]="country">{{country}}</mat-option>
        
                  </mat-select>
                </mat-form-field>
        
                <mat-form-field appearance="outline" class="colorPickerInList">
        
                  <mat-select [(value)]="queryField.color"
                              [style.backgroundColor]="queryField.color"
                              [style.color]="queryField.color">
          
                  <mat-option *ngFor="let color of colors"
                            class="colorHolder"
                            [value]="color"
                            [style.backgroundColor]="color"
                            [style.color]="color">
                  </mat-option>
          
                  </mat-select>
        
                </mat-form-field>
                <button type="button"
                        class="deleteDetailBtn"
                        mat-raised-button
                        (click)="onDeleteDetailClick(i)"
                        matTooltip="Grafikon adat törlése">
                  <mat-icon aria-hidden="false" aria-label="Example home icon">remove</mat-icon>
                </button>
              </mat-list-item>
            </mat-list>
    
          </div>
        </div>


      </mat-expansion-panel>
      
    </mat-accordion>

  </mat-drawer>

  
  <div class="example-sidenav-content">

    <div class="graphManagerHeader">
  
      <button *ngIf="!drawer.opened"
              color="primary"
              type="button"
              class="newGraphButton"
              mat-raised-button
              matTooltip="Grafikonszerkesztő megnyitása"
              (click)="onNewChartClick()">
        <mat-icon>playlist_add</mat-icon>
      </button>
    
      <mat-button-toggle-group color="primary" [(value)]="selectedColumnNumber">

        <mat-button-toggle [value]="'1'" matTooltip="Grafikonok egymás alatt">
          <mat-icon>view_headline</mat-icon>
        </mat-button-toggle>

        <mat-button-toggle [value]="'2'" matTooltip="Grafikonok két oszlopban">
          <mat-icon>border_all</mat-icon>
        </mat-button-toggle>

        <mat-button-toggle [value]="'3'" matTooltip="Grafikonok három oszlopban">
          <mat-icon>grid_on</mat-icon>
        </mat-button-toggle>

      </mat-button-toggle-group>
      
      <div>
        <mat-slider color="primary"
                    *ngIf="selectedColumnNumber === '1'"
                    min="40"
                    max = "100"
                    step="1"
                    [(ngModel)]="singleColumnWidth"></mat-slider>
      </div>
    
    </div>

    <div class="gridListHolder">

      <div class="emptyList" *ngIf="graphs.length === 0 && !drawer.opened">

        <button type="button"
                mat-raised-button
                color="primary"
                (click)="drawer.toggle()"
                matTooltip="Grafikonszerkesztő megnyitása">Új grafikon</button>

      </div>

      <mat-grid-list [cols]="gridColumns" [rowHeight]="rowHeightString" *ngIf="graphs.length">

        <mat-grid-tile *ngFor="let graph of graphs; let i = index;">
            <div [style.width.%]="selectedColumnNumber === '1' ? singleColumnWidth : 100"
                  [style.height.%]="selectedColumnNumber === '1' ? singleColumnWidth : 100"
                  class="displayArea">

              <div id="deleteBtnArea"
                  (mouseover)="onMouseStatus(i, true)"
                  (mouseleave)="onMouseStatus(i, false)">

                  <div class="graphButtons">
    
                    <button mat-button
                            *ngIf="mouseHoverMap[i]"
                            class="graphBtn"
                            (click)="onDeleteGraph(i)"
                            matTooltip="Grafikon törlése">
                      <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                    </button>
                    <button mat-button *ngIf="mouseHoverMap[i]"
                            class="graphBtn"
                            (click)="onEditGraph(i)"
                            matTooltip="Grafikon megnyitása a szerkesztőben">
                      <mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon> 
                    </button>
    
                  </div>
              </div>

              
              <app-display-chart class="chartArea" [chartData]="graph"></app-display-chart>

            </div>

        </mat-grid-tile>

      </mat-grid-list>

    </div>

  </div>

</mat-drawer-container>